/*
* responsive grid styling adapted from
* http://stackoverflow.com/questions/20456694/grid-of-responsive-squares
*/

#button-container {
  clear: both;
  padding: 5%;
}

.sudoku-square {
  float: left;
  position: relative;
  width: calc(100% / 9);
  padding-bottom: calc(100% / 9 - 2px);
  overflow: hidden;
}

.sudoku-square-content {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

.sudoku-square-table{
  display: table;
  height: 100%;
  width: 100%;
}

.sudoku-square-table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.sudoku-cell-value {
  font-size: x-large;
  font-weight: bold;
  color: black;
  /* http://stackoverflow.com/questions/7018324/how-do-i-stop-highlighting-of-a-div-element-when-double-clicking-on */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.sudoku-solution-value {
  font-size: x-large;
  font-weight: bold;
  color: gray;
  /* http://stackoverflow.com/questions/7018324/how-do-i-stop-highlighting-of-a-div-element-when-double-clicking-on */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.sudoku-input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
