/*
* responsive grid styling adapted from
* http://stackoverflow.com/questions/20456694/grid-of-responsive-squares
*/

.sudoku-square {
  float: left;
  position: relative;
  width: calc(100% / 3);
  padding-bottom : calc(100% / 3 - 2px); /* = width for a 1:1 aspect ratio */
  /* margin:1.66%; */
  overflow: hidden;
  border: 1px solid black;
}

.sudoku-square-content {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

.sudoku-square-table{
  display: table;
  height: 100%;
  width: 100%;
}

.sudoku-square-table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

#button-container {
  clear: both;
  padding: 5%;
}

#sudoku-frame {
  float: left;
  position: relative;
  width: calc(100% + 4px);
  border: 2px solid black;
  margin-left: -2px;
}

.s-square {
  float: left;
  position: relative;
  width: calc(100% / 9);
  padding-bottom : calc(100% / 9 - 2px); /* = width for a 1:1 aspect ratio */
  /* margin:1.66%; */
  overflow: hidden;
}

.s-square-content {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

.s-square-table{
  display: table;
  height: 100%;
  width: 100%;
}

.s-square-table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.s-cell-value {
  /* border: 1px solid black; */
}
